*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    max-height: 100vh;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: url(img/tiling-header3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
}

header .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    background-color: rgba(0, 0, 0, 0.4);
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    padding: 0 30px;
    transition: all .3s;
    width: fit-content;
    background-color: rgba(255, 255, 255, .7);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 2;
}

.toggle{
    display: none;
}

.menu_list ul{
    display: flex;
    margin: 0;
}

.menu_list .nav_links{
    display: block;
    color: #363753;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 6px 20px;
    text-decoration: none;
    border-radius: 10px;
    transition: all 0.1s;
    margin: 0 5px;
}

.nav_links.tel{
    background-color: #5cd2c6;
    color: #fefefe;
    transition: all .3s;
}

.nav_links.tel:hover{
    background-color: #0c7c71;
    transition: all .3s;
}

.header_box{
    margin:20px 50px 25vh 50px;
    color: #fefefe;
    text-align: center;
    z-index: 1;
}

.header_box h1{
    font-size: 3.5rem;
    margin-bottom: 2rem;
    text-shadow: 1px 1px #5cd2c6;
}

.header_box p{
    font-size: 2rem;
    padding: 0 20px;
    margin-bottom: 40px;
    text-shadow: 1px 1px #363753;
}

.header_box a{
    background-color: #5cd2c6;
    padding: 10px 30px;
    border-radius: 20px;
    color: #FEFEFE;
    text-decoration: none;
    margin-top: 10px;
    font-size: 2rem;
    transition: all .3s;
}

.header_box a:hover{
    background-color: #0c7c71;
    transition: all .3s;
}

.munkaink_header{
    background: url(img/tiling-header2.jpg);
    height: 40vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.munkaink_header .header_box h1 {
    font-size: 2.5rem;
    width: 60%;
    text-shadow: 1px 1px #5cd2c6;
}

.munkaink_header .header_box{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#munkak{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#munkak h2{
    margin: 50px 20px;
    font-size: 2.5rem;
    text-align: center;
    color: #5cd2c6;
}

#munkak .munkaP{
    text-align: center;
    font-size: 1.5rem;
    color: #363753;
}

#munkak .munka_container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: fit-content;
    padding: 20px;
    margin-bottom: 100px;
}

#munkak .munka_card{
    height: fit-content;
    width: 400px;
    box-shadow: 2px 10px 10px #363753;
    margin: 20px 20px;
    border-radius: 5px;
}

#munkak .munka_card img{
    width: 100%;
    height: 300px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#munkak .munka_card h3{
    text-align: center;
    font-size: 1.5rem;
    padding: 10px 0;
    color: #363753;
}

#munkak .munka_card .munka_detail{
    padding: 5px 10px;
    text-align: justify;
    font-size: 1.1rem;
}

#munkak .munka_card a{
    float: right;
    margin: 0 15px 15px 0;
    text-decoration: none;
    background-color: #5cd2c6;
    padding: 6px 12px;
    border-radius: 5px;
    color: #fefefe;
    font-size: 1.1rem;
    transition: all .3s;
}

.hidden{
    opacity: 0;
    filter: blur(3px);
    transition: all .7s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transition: all .7s;
}

#munkak .munka_card a:hover{
    background-color: #0c7c71;
    transition: all .3s;
}

#rolunk{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    padding: 50px 30px;
    background-color:#363753;
}

#rolunk .section_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#rolunk h2{
    text-align: center;
    color: #5cd2c6;
    font-size: 3rem;
    margin: 20px 0;
}

#rolunk .section_container section{
    padding: 30px;
    flex-basis: 30%;
}

#rolunk section .icon{
    width: 100%;
    display: grid;
    place-items: center;
}

.icon img{
    max-width: 50%;
}

#rolunk section h3{
    text-align: center;
    font-size: 1.6rem;
    color: #5cd2c6;
    margin: 20px 0;
}

#rolunk section p{
    margin: 20px 15px;
    font-size: 1.5rem;
    color: #fefefe;
    line-height: 2rem;
    text-align: justify;
}

#rolunk .rolunk_kapcsolat{
    max-width: 70%;
    padding: 20px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#rolunk .rolunk_kapcsolat h3{
    text-align: justify;
    font-size: 2rem;
    color: #5cd2c6;
    margin-bottom: 40px;
}

#rolunk .rolunk_kapcsolat a{
    text-decoration: none;
    font-size: 1.3rem;
    padding: 8px 30px;
    background-color: #fefefe;
    color: #5cd2c6;
    border-radius: 10px;
    transition: all .3s;
}

#rolunk .rolunk_kapcsolat a:hover{
    background-color: #0c7c71;
    color: #fefefe;
    transition: all .3s;
}

#galery_wrapper{
    max-width: 1200px;
    position: relative;
    margin: 50px 40px 50px 30px;
}

#galery_wrapper h2{
    font-size: 2.5rem;
    color: #5cd2c6;
    text-align: center;
    margin: 50px 20px;
}

#galery_wrapper i{
    position: absolute;
    top: 60%;
    height: 46px;
    width: 46px;
    cursor: pointer;
    text-align: center;
    line-height: 46px;
    background: #fefefe;
    border-radius: 50%;
    border: 1px solid #5cd2c6;
    z-index: 1;
    color: #363753;
}

#galery_wrapper i:last-child{
    right: -10px;
}


#galery_wrapper .carousel{
    white-space: nowrap;
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    margin: 10px;
    scroll-behavior: smooth;
}

#galery_wrapper .carousel.dragging{
    cursor: grab;
    scroll-behavior: auto;
}

#galery_wrapper .carousel.dragging img{
    pointer-events: none;
}


.carousel img{
    height: 340px;
    object-fit: cover;
    width: calc(100% / 3);
    margin-left: 14px;
}

.arak{
    margin-top: 50px;
    max-width: 1200px;
    display: grid;
    place-items: center;
}

.arak a{
    padding: 7px 30px;
    background-color: #5cd2c6;
    border-radius: 10px;
    font-size: 1.3rem;
    color: #fefefe;
    text-decoration: none;
    transition: all .3s;
    margin-bottom: 30px;
}

.arak a:hover{
    background-color: #0c7c71;
    transition: all .3s;
}

.arak h5{
    font-size: 1.3rem;
    color: red;
    text-align: center;
    margin: 10px 15px 30px 15px;
}

.arak .ar_tablazat{
    display: none;
    max-width: 1000px;
    transition: all .3s;
}

.ar_tablazat.open{
    display: flex;
    flex-direction: column;
    transition: all .3s;
}

.ar_tablazat .list{
    display: flex;
    flex-direction: column;
}

.item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.item:nth-child(odd){
    background-color: #8be0d8;
}

.item h3{
    color: #363753;
}

.footer{
    width: 90%;
    height: fit-content;
    background-color: #363753;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.footer .logo{
    height: 80px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .logo img{
    height: 100px;
    width: 100%;
    border-radius: 5px;
}

.footer .footer_ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .footer_ul ul .nav_links{
    padding: 5px 20px;
    color: #fefefe;
    font-size: 1.4rem;
    text-decoration: none;
    transition: all .3s;
}

.footer .footer_ul ul .nav_links:hover{
    border-bottom: 1px solid #fefefe;
    transition: all .3s;
}

.footer .footer_ul .nav_links.tel{
    color: #fefefe;
    border-radius: 5px;
    margin-left: 5px;
    transition: all .3s;
}

.footer .footer_ul .nav_links.tel:hover{
    background-color: #0c7c71;
    color: #fefefe;
    transition: all .3s;
    border-bottom: none;
}

.footer .footer_social i{
    padding: 10px;
    margin: 10px;
    font-size: 2.3rem;
    color: #5cd2c6;
    transition: all .3s;
    background-color: #fefefe;
    border-radius: 10px;
}

.footer .footer_social i:hover{
    color: #0c7c71;
    transition: all .3s;
}

.options{
    margin-bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.options a{
    text-decoration: none;
    color: #363753;
    background-color: #c5c5c5;
    padding: 5px 20px;
    margin: 0 10px;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 10px;
    transition: all .3s;
    display: grid;
    place-items: center;
}

.options .selected{
    background-color: #5cd2c6;
    transition: all .3s;
    color: #363753;
}

@media(prefers-reduce-motion){
    .hidden{
        transition: none;
    }
}

@media only screen and (max-width: 1400px){
    #munkak .munka_container{
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }

    #rolunk .section_container section{
        flex-basis: 50%;
    }

    .footer{
        width: 100%;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
}

@media only screen and (max-width: 1200px){
    #rolunk section{
        max-width: 80%;
    }

    .footer .footer_ul ul{
        display: flex;
        flex-direction: column;
        margin: 50px;
    }

    .footer .footer_ul ul .nav_links{
        margin: 20px 0;
    }

    .munkaink_header .header_box h1 {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 900px){
    .toggle{
        display: block;
        cursor: pointer;
    }
    
    .toggle .bar{
        display: flex;
        padding-right: 10px;
        width: 60px;
        height: 8px;
        margin: 5px;
        background: #FEFEFE;
        border-radius: 5px;
        box-shadow: 1px 1px 1px #5cd2c6;
    }

    .menu_list{
        height: 0;
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        width: 100vw;
        transition: all 0.3s;
        overflow: hidden;
    }

    .menu_list.active{
        display: flex;
        align-items: center;
        height: 550px;
        transition: all 0.3s;
        background-color: rgb(0, 0, 0);
        max-width: 100%;
    }

    .menu_list.active ul{
        opacity: 1;
    }

    .menu_list ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: fit-content;
        height: 100%;
        text-align: center;
        margin: 40px auto 40px auto;
        transition: all 0.2s;
        opacity: 0;
    }

    .menu_list .nav_links{
        margin: 15px;
        font-weight: bold;
        font-size: 1.6rem;
        color: #5cd2c6;
        text-shadow: 1px 1px #363753;
    }

    .nav_links.tel {
        background-color: #fefefe;
        color: #5cd2c6;
    }

    .footer .footer_ul .nav_links.tel{
        color: #5cd2c6;
    }

    nav{
        background-color: transparent;
        width: 100%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    nav.blur{
        background-color: rgb(0, 0, 0);
    }

    .icon img{
        width: 50%;
    }

    #rolunk .section_container section{
        flex-basis: 100%;
    }

    .carousel img{
        width: calc(100% / 2);
    }

    .footer{
        display: flex;
        flex-direction: column;
        height: fit-content;
        align-items: center;
        justify-content: space-between;
    }
}

@media only screen and (max-width: 600px){
    .header_box{
        margin:20px 30px 15vh 30px;
    }
    
    .header_box h1{
        font-size: 3rem;
    }

    .header_box p{
        font-size: 1.5rem;
    }

    #rolunk section{
        max-width: 100%;
    }

    #rolunk h2{
        font-size: 2.5rem;
    }

    #rolunk .rolunk_kapcsolat{
        max-width: 100%;
    }

    #rolunk .rolunk_kapcsolat h3{
        font-size: 1.4rem;
    }

    #rolunk{
        padding: 50px 10px;
    }

    #rolunk .section_container section {
        padding: 30px 20px;
    }

    .carousel img{
        width: 100%;
    }

    .munkaink_header .header_box h1 {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .options a{
        padding: 5px;
        font-size: 1rem;
    }

    .menu_list{
        top: 60px;
    }
}

@media only screen and (max-width: 450px){
    .header_box h1{
        font-size: 2.5rem;
    }

    .header_box a{
        padding: 7px 30px;
        font-size: 1.7rem;
    }

    #munkak .munka_card{
        width: 350px;
    }

    .item .title{
        font-size: 1.1rem;
    }
}