*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: url(img/header-6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    padding: 0 30px;
    transition: all .3s;
    width: fit-content;
    background-color: rgba(255, 255, 255, .7);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.toggle{
    display: none;
}

.menu_list ul{
    display: flex;
    margin: 0;
}

.menu_list .nav_links{
    display: block;
    color: #363753;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 6px 20px;
    text-decoration: none;
    border-radius: 10px;
    transition: all 0.1s;
    margin: 0 5px;
}

.nav_links.tel{
    background-color: #5cd2c6;
    color: #fefefe;
}



@media only screen and (max-width: 900px){
    .toggle{
        display: block;
        cursor: pointer;
    }
    
    .toggle .bar{
        display: flex;
        padding-right: 10px;
        width: 40px;
        height: 5px;
        margin: 5px;
        background: #FEFEFE;
        border-radius: 5px;
    }

    .menu_list{
        background-color: #363753;
        height: 0;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        width: 100vw;
        transition: all 0.3s;
        overflow: hidden;
    }

    .menu_list.active{
        height: 450px;
        transition: all 0.3s;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }

    .menu_list.active ul{
        opacity: 1;
    }

    .menu_list ul {
        display: block;
        width: fit-content;
        text-align: center;
        margin: 80px auto 40px auto;
        transition: all 0.2s;
        opacity: 0;
    }

    .menu_list .nav_links{
        margin: 15px;
        font-weight: bold;
        font-size: 1.6rem;
        color: #FEFEFE;
    }
}