*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: url(img/header-6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    padding: 0 30px;
    transition: all .3s;
    width: fit-content;
    background-color: rgba(255, 255, 255, .7);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.toggle{
    display: none;
}

.menu_list ul{
    display: flex;
    margin: 0;
}

.menu_list .nav_links{
    display: block;
    color: #363753;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 6px 20px;
    text-decoration: none;
    border-radius: 10px;
    transition: all 0.1s;
    margin: 0 5px;
}

.nav_links.tel{
    background-color: #5cd2c6;
    color: #fefefe;
    transition: all .3s;
}

.nav_links.tel:hover{
    background-color: #0c7c71;
    transition: all .3s;
}

.header_box{
    margin:20px 50px 25vh 50px;
    color: #fefefe;
    text-align: center;
}

.header_box h1{
    font-size: 3rem;
    margin-bottom: 2rem;
    background-color: rgba(0, 0, 0, .3);
    text-shadow: 1px 1px #5cd2c6;
}

.header_box p{
    font-size: 2rem;
    padding: 0 20px;
    background-color: rgba(0, 0, 0, .3);
    margin-bottom: 40px;
    text-shadow: 1px 1px #363753;
}

.header_box a{
    background-color: #5cd2c6;
    padding: 10px 30px;
    border-radius: 20px;
    color: #FEFEFE;
    text-decoration: none;
    margin-top: 10px;
    font-size: 2rem;
    transition: all .3s;
}

.header_box a:hover{
    background-color: #0c7c71;
    transition: all .3s;
}


@media only screen and (max-width: 900px){
    .toggle{
        display: block;
        cursor: pointer;
    }
    
    .toggle .bar{
        display: flex;
        padding-right: 10px;
        width: 60px;
        height: 8px;
        margin: 5px;
        background: #FEFEFE;
        border-radius: 5px;
        box-shadow: 1px 1px 1px #5cd2c6;
    }

    .menu_list{
        height: 0;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        width: 100vw;
        transition: all 0.3s;
        overflow: hidden;
    }

    .menu_list.active{
        height: 450px;
        transition: all 0.3s;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }

    .menu_list.active ul{
        opacity: 1;
    }

    .menu_list ul {
        display: block;
        width: fit-content;
        text-align: center;
        margin: 80px auto 40px auto;
        transition: all 0.2s;
        opacity: 0;
    }

    .menu_list .nav_links{
        margin: 15px;
        font-weight: bold;
        font-size: 1.6rem;
        color: #FEFEFE;
        text-shadow: 1px 1px #363753;
    }

    nav{
        background-color: transparent;
        width: 100%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    nav.blur{
        background-color: rgba(0, 0, 0, .9);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }
}

@media only screen and (max-width: 600px){
    .header_box{
        margin:20px 30px 20vh 30px;

    }
    
    .header_box h1{
        font-size: 2.5rem;
    }

    .header_box p{
        font-size: 1.5rem;
    }

    .header_box a{
        padding: 10px 20px;
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 450px){
    .header_box h1{
        font-size: 2rem;
    }
}